/* Global Styles -------------------------------------------------- */
:root {
    --primary: #112D4E;
    --secondary: #0296bb;
    --background: #dde7ff7b;
    --white: #DBE2EF;
    --hover-transition: all ease .3s;
    --container-spacing: 8rem;
    --mobile-container-spacing: 6rem;
    --container-padding: 0 4rem;
    --mobile-container-padding: 0 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.large-heading {
    font-size: 64px;
    font-family: 'DM Serif Display', serif;
}

.medium-heading {
    font-size: 36px;
    font-family: 'DM Serif Display', serif;
}

.small-heading {
    font-size: 24px;
    font-family: 'DM Serif Display', serif;
    color: var(--primary);
}

/* Navbar Styles -------------------------------------------------- */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    width: 100%;
    transition: var(--hover-transition);
    z-index: 5;
    /* background: #DBE2EF; */
}

#navbar h1 {
    color: var(--primary);
    z-index: 4;
}

#navbar button {
    /* background: var(--primary); */
    padding: .5rem 1.5rem;
    color: var(--primary);
    border: solid 2px var(--primary);
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    z-index: 4;
    transition: var(--hover-transition);
}

#navbar button:hover {
    background: var(--primary);
    color: var(--white);
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-basis: 20%;
    font-size: 1.25rem;
}

.nav-list a {
    text-decoration: none;
    color: inherit;
}

.contact-modal {
    display: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    transition: var(--hover-transition);
    background: var(--white);
    width: 100vw;
    height: 0;
    z-index: 3;
}

.contact-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--hover-transition);
    padding: 2rem;
    width: 100vw;
    height: 0;
}

.contact-modal-icon-container {
    margin-top: 4rem;
    width: 100%;
}

.contact-modal-icons {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
}

.contact-modal-link {
    transition: var(--hover-transition);
    color: var(--primary);
}

.contact-modal-link:hover {
    color: #3F72AF;
}

.active {
    display: flex;
    opacity: 1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

/* Main Styles ----------------------------------------------------- */
main {
    margin: 0 auto;
    padding: 2rem 0;
    z-index: 1;
}

main h2 {
    font-size: 42px;
    line-height: 1.25;
    color: var(--primary);
    font-weight: 700;
}

main h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    color: var(--primary);
}

main p {
    font-size: 18px;
    line-height: 1.5;
    color: #303030;
    font-weight: 300;
}

/* Hero Styles ----------------------------------------------------- */
.hero-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    /* width: 100%; */
    width: 1500px;
    margin: 0 auto;
    gap: 1rem;
}

.hero-text-container {
    width: 100%;
    position: relative;
}

/* .hero-text-container:after {
    position: absolute;
    content: '';
    width: 400px;
    height: 400px;
    background: var(--primary);
    top: 8rem;
    left: -20rem;
    border-radius: 50%;
    z-index: -1;
    opacity: .1;
} */

.large-heading span {
    color: var(--secondary);
    white-space: nowrap;
}

.hero-spline-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

/* .hero-spline-container:after {
    position: absolute;
    content: '';
    width: 700px;
    height: 700px;
    background: var(--secondary);
    top: -24rem;
    right: -24rem;
    border-radius: 50%;
    z-index: -1;
    opacity: .5;
} */

.hero-spline-container img {
    z-index: -1;
    width: 100%;
}

/* Container/Section Styles ---------------------------------------------------- */

.about-container,
.projects-container {
    position: relative;
    margin-bottom: var(--container-spacing);
    width: 100%;
}

.about-container {
    display: flex;
    justify-content: flex-end;
}

.about-container h3,
.about-container p {
    color: var(--white);
}

.about-container::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 400px;
    left: 45%;
    top: 0;
    z-index: -1;
    background: var(--primary);
    /* border-radius: 140px 0 0 70px; */
    border-radius: 10px;
}

.about-section,
.projects-section {
    padding: var(--container-padding);
}

.about-section {
    max-width: 700px;
    width: 100%;
    margin-right: 8rem;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 8rem;
    margin-top: 6rem;
    width: 100%;
    justify-content: space-between;
}

.project-card-container {
    width: 100%;
    max-width: 750px;
    padding: 1.5rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: var(--hover-transition);
    text-decoration: none;
    position: relative;
}

.project-card-container img {
    width: 100%;
    padding: 1rem 0;
    filter: grayscale(1);
    transition: var(--hover-transition);
}

.project-card-container p {
    padding-bottom: 1rem;
}

.project-card-container a {
    color: var(--primary);
}

.project-card-container:hover > .card-image {
    filter: grayscale(0);
}

/* Footer Styles --------------------------------------------------- */

footer {
    padding: 1rem 2rem;
}


/* Media Query 1500px --------------------------------------------------- */

/* Hero Styles 1500px ----------------------------------------------------- */
@media (max-width: 1500px) {
    /* Global Styles -------------------------------------------------- */
    .large-heading {
        font-size: 42px;
    }

    .medium-heading {
        font-size: 32px;
    }

    .small-heading {
        font-size: 24px;
    }

    /* Hero Styles ----------------------------------------------------- */
    .hero-container {
        width: 1000px;
        height: 100%;
        margin: 12rem auto 8rem auto;
        gap: 8rem;
    }

    .hero-container canvas {
        width: 600px !important;
        height: 600px !important;
    }

    .hero-text-container {
        width: 100%;
    }

    .hero-spline-container {
        width: 400px;
        height: 400px;
        margin-bottom: 4rem;
        justify-content: center;
    }

    .about-container::after { 
        left: 0;
        height: 350px;
        border-radius: 0;
    }

    .about-section {
        margin-right: 0;
    }

    .project-card-container img {
        filter: grayscale(0);
    }
}

/* Media Query 1000px --------------------------------------------------- */

/* Hero Styles 1000px ----------------------------------------------------- */
@media (max-width: 1040px) {
    .hero-container {
        width: 100%;
        flex-direction: column-reverse;
        margin: 12rem 0 8rem 0;
        padding: var(--mobile-container-padding);
    }

    .about-container {
        width: 100%;
    }

    .about-section,
    .projects-section {
        padding: var(--mobile-container-padding);
    }
}

/* Media Query 768px --------------------------------------------------- */

/* Hero Styles 768px ----------------------------------------------------- */
@media (max-width: 768px) {
    /* Global Styles -------------------------------------------------- */
    .large-heading {
        font-size: 36px;
    }

    .medium-heading {
        font-size: 24px;
    }

    .small-heading {
        font-size: 18px;
    }

    main {
        /* padding: 1rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Hero Styles ----------------------------------------------------- */
    .hero-container {
        justify-content: center;
        margin: 6rem 0;
        gap: 0;
    }

    .hero-container canvas {
        width: 400px !important;
        height: 400px !important;
    }

    .hero-spline-container {
        width: 300px;
        height: 300px;
        margin-bottom: 4rem;
        justify-content: center;
    }

    .contact-modal-icons {
        width: 80%;
        justify-content: space-between;
    }

    /* About Styles ---------------------------------------------------- */
    
    .about-container {
        position: relative;
        margin-bottom: var(--mobile-container-spacing);
    }

    .about-container::after { 
        height: 375px;
    }
}

@media (max-width: 456px) {
    .about-container::after { 
        height: 475px;
    }
}



/* Active Styles --------------------------------------------------- */

.navbar-active {
    backdrop-filter: blur(5px);
    background: #dde7ff7b;
}

.modal-active {
    z-index: -1;
}

.body-active {
    overflow: hidden;
}